*{
    margin: 0;
    padding: 0;
}
/* .icon {

    fill: black; /* Default color */
    /* transition: fill 0.3s ease; Smooth transition for color change */
/* } */

/* Hover effect to change color to white
.icon:hover {
    fill: white;
} */
.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Example grey background color */
    color: white;
    padding: 10px;
}

/* Adjust margin for the image */
/* .LoginHeader img {
    margin-right: 10px;
} */



.svg-container:hover svg path{
    fill: white; /* Change to the desired color when hovering */
}